<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.leon.authmodule.mapper.registerMapper">

    <resultMap id="BaseResultMap" type="org.leon.authmodule.pojo.RegisterRequest">
            <result property="username" column="username" />
            <result property="password" column="password_hash" />
    </resultMap>
    <insert id="register">
        INSERT INTO users_dev (username, password_hash)
        VALUES (#{username}, #{encodedPassword})
    </insert>



</mapper>
